@model DogGO.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
  <h1 class="mb-4">@Model.Walker.Name</h1>

  <section class="container">
    <img
      style="width:100px;float:left;margin-right:20px"
      src="@Model.Walker.ImageUrl"
    />
    <div>
      <label class="font-weight-bold">Name:</label>
      <span>@Model.Walker.Name</span>
    </div>
    <div>
      <label class="font-weight-bold">Neighborhood:</label>
      <span>@Model.Walker.Neighborhood.Name</span>
    </div>
  </section>

   <hr class="mt-5" />
  <div class="clearfix"></div>

  <table class="table" style="width: 30rem;"> 
    <thead>
        <tr>
            <th>
                <label class="font-weight-bold">Date:</label>
            </th>
            <th>
                <label class="font-weight-bold">Client:</label>
            </th>
            <th>
                <label class="font-weight-bold">Duration:</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Walk walk in Model.Walks) {
        <tr>
            <td>
                @Html.DisplayFor(item => walk.Date)
            </td>
            <td>
                @Html.DisplayFor(item => walk.Dog.Owner.Name)
            </td>
            <td>
                @Html.DisplayFor(item => walk.TotalWalkTime)
            </td>
        </tr>
}
    </tbody>
  </table>

  <div class="row" style="width: 100rem">
      <section class="col-lg-4 col-md-8 container mt-5">
        <h2>Total Walk Time: @Model.TotalWalkTime</h2>
      </section>
  </div>

</div>